.container {
  padding-top: 80px;
}

.coverPage {
  position: relative;
}

.coverImg {
  width: 100vw;
  max-width: 100%;
  z-index: -1;
}

.description {
  color: white;
  position: absolute;
  top: 30%;
  margin-left: 10%;
}

.title {
  font-size: 42px;
  margin-bottom: 24px;
}

.btn {
  margin: 100px;
  border: none;
  color: #000;
}

.btn:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  direction: rtl;
  z-index: -1;
  box-shadow: -7px -7px 20px 0px #fff9, -4px -4px 5px 0px #fff9,
    7px 7px 20px 0px #0002, 4px 4px 5px 0px #0001;
  transition: all 0.3s ease;
}

.btn:hover {
  color: #000;
}
.btn:hover:after {
  left: auto;
  right: 0;
  width: 100%;
}
.btn:active {
  top: 2px;
}

.mainPageContainer {
  width: 80%;
  margin: auto;
}

.image {
  width: 100%;
}
