.container {
  padding-top: 80px;
}

.coverPage {
  position: relative;
}

.description {
  color: white;
  position: absolute;
  top: 30%;
  margin-left: 10%;
}

.title {
  font-size: 42px;
  margin-bottom: 24px;
}

.mainPageContainer {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image {
  width: 100%;
}

.title {
  margin-top: 24px;

  font-size: var(--font-large);
}
.phrases1 {
  margin-top: 24px;

  font-size: var(--font-medium);
}

.phrases2 {
  font-size: var(--font-large);
}
