.formContainer {
  width: 80%;
  margin: 48px 0;
}

.form {
  width: 100%;
  background: #e6e6e6;
  border-radius: 8px;
  box-shadow: 0 0 40px -10px #000;
  padding: 32px;
  padding-bottom: 48px;
  max-width: calc(100vw - 40px);
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  position: relative;
}

.title {
  margin: 10px 0;
  padding-bottom: 10px;
  width: 180px;
  color: var(--color-black);
  border-bottom: 3px solid #e6e6e6;
}
.input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  background: none;
  outline: none;
  resize: none;
  border: 0;
  font-family: "Montserrat", sans-serif;
  transition: all 0.3s;
  border-bottom: 2px solid #bebed2;
}

input:focus {
  border-bottom: 2px solid #78788c;
}

.inputBox:before {
  content: attr(type);
  display: block;
  margin: 28px 0 0;
  font-size: var(--font-mini);
  color: #5a5a5a;
}

.consent {
  font-size: var(--font-micro);
  overflow: auto;
  height: 150px;
  margin: 24px;
  padding: 16px;
  background-color: #e0e0e0;
}
.strong {
  font-weight: 600;
  margin: 0 0 8px 8px;
}

.checkbox {
  padding: 8px;
  font-size: var(--font-micro);
}

.button {
  float: right;
  padding: 8px 12px;

  font-family: "Montserrat", sans-serif;
  border: 2px solid #78788c;
  background: 0;
  color: #5a5a6e;
  cursor: pointer;
  transition: all 0.3s;
}
.button:hover {
  background: #78788c;
  color: #fff;
}
