.container {
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
}

.navContainer {
  height: 80px;
  padding: 8px 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.4s ease;
}

.container ul {
  padding: 0;
  list-style: none;
}
.menuButtonContainer {
  display: none;
  width: 40px;
  height: 40px;
  margin-right: 10%;
}
.menuButton {
  font-size: 30px;
  background-color: transparent;
}
.logo {
  width: 160px;
}

.navOptionList {
  display: flex;
}

.link {
  font-weight: 900;
  font-size: var(--font-small);
  transition: all 300ms ease-out;
}

.link:hover {
  transform: translateY(-5px);
}
.link a {
  padding: 20px;
}

.icon__list {
  display: flex;
}

.icon {
  font-size: 24px;
  padding: 4px 8px;
}
.icon:hover {
  transform: scale(1.1);
}

.phoneCall {
  font-size: var(--font-medium);
  color: var(--color-white);
  background-color: var(--color-blue);
  border-radius: var(--border-radius);
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
  transition: all 0.3s;
}

.phoneCall:hover {
  background-color: var(--color-dark-blue);
  cursor: pointer;
}

.phoneCall a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  padding: 0 8px;
  color: var(--color-white);
}

.navOptionListOpen {
  display: flex;
  padding-bottom: 8px;
  width: 100%;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-light-white);
}
.linkOpen {
  font-weight: 900;
  font-size: var(--font-small);
  width: 90%;
  border-bottom: 1px dashed var(--color-grey);
}

.linkOpen a {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 12px 24px;
}

@media (max-width: 1200px) {
  .navOptionList {
    display: none;
  }

  .menuButtonContainer {
    display: block;
  }
}

@media (max-width: 768px) {
  .navContainer {
    padding: 8px 12px;
  }
  .navOptionList {
    display: none;
  }

  .menuButtonContainer {
    display: block;
  }
  .menuButton {
    font-size: 28px;
  }
  .logo {
    width: 120px;
  }
  .phoneCall {
    font-size: var(--font-small);
  }
  .phoneCall a {
    height: 30px;
  }
}
